<main>
  <h1>New Transaction</h1>
  <%= form_with model: @entity, url: entities_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "name" %>
    </div>
    <div>
      <%= f.label :amount %>
      <%= f.number_field :amount, step: 0.01 %>
      </div>
    <div>
      <%= f.submit "Create" %>
    </div>
  <% end %>
</main>