<main>
  <h1>Categories</h1>
  <ul>
    <% @groups.each do |group| %>
      <%= link_to group_entities_path(group.id), method: :post do %>
        <li>
          <%= image_tag url_for(group.icon), class: 'img-thumbnail w-10' %>
          <p>
            <%= group.name %>
          </p>
          <p>Total amount:
            <%= total_amount_per_category(group) %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= button_to 'Add a new category', new_group_path, method: :get %>
</main>