<ul class="d-flex flex-column vw-100 p-0">
  <% @groups.each do |group| %>
    <%= link_to group_entities_path(group.id), method: :post, class: 'text-decoration-none' do %>
      <li class="d-flex gap-2 m-2 p-2 bg-light text-dark border rounded">
        <%= image_tag url_for(group.icon), class: 'img-thumbnail wxh-sm-20 wxh-md-15 w-25 h-25' %>
        <div class="d-flex align-items-center flex-fill justify-content-between">
          <p class="text-secondary m-0">
            <%= group.name %>
          </p>
          <strong>
            <%= total_amount_per_category(group) %>
          </strong>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="actions bg-second vw-100 p-2 fixed-bottom">
  <%= button_to 'Add a new category', new_group_path, method: :get, class:'btn w-100 text-light border border-light' %>
</div>