<main>
  <%= form_with model: @group, url: groups_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "name" , required: true %>
    </div>
    <div>
      <%= f.label :icon %>
      <%= f.file_field :icon , required: true %>
      </div>
    <div>
      <%= f.submit "Save" %>
    </div>
  <% end %>
  <%= button_to '<', groups_path, method: :get %>
</main>