<div class='d-flex flex-column align-items-center mt-2'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control vw-100' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control vw-100' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-2 mx-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions fixed-top-right p-2">
      <%= f.submit "Log in", class:'btn text-light' %>
    </div>
  <% end %>
  <div class="mt-2 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>

